.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {
    margin: 25px 0;
}
    
.sprite {
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
}

.vr  a {
    vertical-align: middle;
    margin-left: 15px;
    
}

.sprite img {
    vertical-align: middle;
}

.vr {
    padding-left: 15px;
}